body {
    margin: 0;
    padding-right: 50px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZfhsSdnrNM7GbPRn2YEg2HgmMt2UVFklpkegdoHtD2Q&s');
    background-repeat: repeat-y;
    background-position: right top;
    background-size: 50px 50px;
}

body{
    text-align: center;
}

body p{
    text-align: left;
    padding: 0 50px 0 50px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
    display: inline-block;
}


.nav-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZfhsSdnrNM7GbPRn2YEg2HgmMt2UVFklpkegdoHtD2Q&s');
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background-size: 50px 50px;
    padding-bottom: 50px;
    background-repeat: repeat-x;
    background-position: bottom left;
}

.nav-button:visited {
    color: #c82323;
    font-size: 20px;
}

.sidebar {
    text-align: left;
    width: 250px;
    height: 200px;
    border: 2px dotted #1c5ddf;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZfhsSdnrNM7GbPRn2YEg2HgmMt2UVFklpkegdoHtD2Q&s');
    background-repeat: repeat-x;
    background-position: top left;
    padding: 20px;
    margin: 0px;
    display: block;
    float: right;
    overflow: scroll;
    overflow-x: scroll;
    background-size: 50px 50px;
    padding-top: 50px;
}

.sidebar p{
    text-align: initial;
    padding: initial;
}

p:first-letter {
    color: orange;
    font-size: 2em;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
}