body{
    margin: 0;
    padding: 0;
}
h1 {
    text-shadow: 2px 2px 4px #000000;
}

.align-elements{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.align-elements .image-with-box-shadow,.align-elements .resized-image{ /* could have been wrapped in a div? Ill email you about this */
    margin-right: 100px;
    margin-top: -20px;;
}

h2 {
    transform: rotate(90deg);
    transform-origin: bottom left;
    margin-bottom: 185px;
    margin-top: -10px;
}

img{
    height: 100px;
    width: 100px;
}

img, div{
    margin-bottom: 10px;
}

.image-with-box-shadow {
    box-shadow: 2px 2px 5px #888888;
}

.resized-image{
    transform: scaleX(2);
    transform-origin: left;
}
.align-elements .gradient-background{
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    background: linear-gradient(to top left, #ff0101, #0000f1);
    height: 100px;
    width: auto;
}

.image-container{
    text-align: center;
}

.image-container .image-container-cell{
    display: inline-block;
    padding: 50px;
}

.image-container .image-container-cell .image-moving-vertically{
    margin-top: 35px;
    animation: move-vertical 2s ease-in-out infinite alternate;
}

@keyframes move-vertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }

.image-container .image-container-cell .image-moving-horizontal{
    animation: move-horizontal 4s ease-in-out infinite alternate;
}

@keyframes move-horizontal {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }

  }

.image-container .image-container-cell .image-skewed-right{
    transform: skewX(-75deg);
}

.image-container .image-container-cell .image-blur{
    filter: blur(5px);
}

.image-container .image-container-cell .image1-variant{
    filter: blur(2px);
}

.image-container .image-container-cell .image2-variant{
    opacity: 50%;
}

.image-container .image-container-cell .image3-variant{
    filter: saturate(200%);
}